/* This defines styles and classes used in the book */
body {
  margin: 0%;
  text-align: justify;
  font-size: medium;
  font-family: georgia, arial, ubuntu;
}
p {
  text-indent: 1em;
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
}
code { font-family: monospace; }

/*Affecte le titre du livre*/
h1 { text-align: center; }

/*Affecte le titre des chapitres*/
h2 {
  text-align: left;
  page-break-before: always;
}

h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
